.wordCollection {
	// border: 1px solid red;
	margin: 0 auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	li {
		&:hover {
			background-color: gainsboro;
		}
		&:active {
			background-color: #999;
		}
	}
}

.magnetic {
	background-color: $white;
	box-shadow: 0 1px 2px 0 #999;
	display: inline-block;
	padding: 6px 8px;
	margin: 7px;
	cursor: pointer;
	transition: 0.2s;
}

.style-1 {
	transform: rotate(-2deg);
	transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.style-2 {
	transform: rotate(3deg);
	transform: rotate(3deg);
	transform: rotate(3deg);
}

.style-3 {
	transform: rotate(-5deg);
	transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.style-4 {
	transform: rotate(-3deg);
	transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.style-5 {
	transform: rotate(4deg);
	transform: rotate(4deg);
	transform: rotate(4deg);
}
