//general styles

*,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	text-align: center;
}

.wrapper {
	width: 85%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	display: block;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}
