//general styles

*,
h1 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	text-align: center;
}

.wrapper {
	width: 85%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	display: block;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
  color: #084b6d;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #084b6d;
    color: #fff;
  }
  &:focus {
    background-color: #084b6d;
    color: #fff;
  }
  
}

select {
	border: none;
	padding: 5px;
	border: 1px solid $black;
}

.App {
	background-image: url(../assets/5333978.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
