//colors

//#1A4543 dark green
//#FFFEB9 light yellow
//#85FB83 bright green
//#2C2C2C black
//#FFFFFF white


$black: #2C2C2C;
$yellow: #FFFEB9;
$darkgreen: #1A4543;
$brightgreen: #85FB83;
$white: #FFFFFF;