.customWordCollection {
  margin: 0 auto;
	width: 35%;
	display: flex;
	flex-wrap: wrap;
  align-items: center;
}

.customInputContainer {
  border: 1px solid $black;
	position: absolute;
	z-index: 1;

	option {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 0 10px 5px 10px;
		transition: 0.2s;
		&:hover,
		&:active {
			background-color: gainsboro;
		}
	}
}