.customWordCollection {
	margin: 10px auto;
	min-height: 47px;
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.customWordForm {
	margin: 0 auto;
	width: fit-content;
	display: flex;
	input {
		padding: 10px;
	}
}
