.suffixPrefixForms {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	form {
		margin: 0 50px;
	}
}

.fWordsCollection {
	width: 100%;
	display: flex;
	justify-content: center;
	min-height: 47px;
	margin: 15px auto;
}
