.navBar {
	// border: 1px solid red;
	margin: 20px auto;
	width: 35%;
	display: flex;
	justify-content: space-between;
	a {
		color: inherit;
		padding: 10px 15px;
		background-color: white;
		box-shadow: 0 1px 2px 0 #999;

		&:hover {
			background-color: gainsboro;
		}
		&:active {
			background-color: #999;
		}
	}
}

.poems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	li {
		width: 40%;
		padding: 50px 30px 30px 30px;
		border: 1px solid $darkgreen;
		line-height: 30px;
		position: relative;
		background-color: $white;
		display: flex;
		justify-content: center;
		margin: 50px 0;
		div {
			align-self: start;
		}
	}
	button {
		overflow: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		border: none;
		background-image: url(../assets/button.jpg);
		border-radius: 50%;
		width: 70px;
		height: 70px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		svg {
			width:80%;
		}
	}
}
