.poems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	li {
		width: 30%;
		min-width: 290px;
		padding: 50px 20px 20px 20px;
		border: 1px solid $darkgreen;
		line-height: 30px;
		position: relative;
		background-color: $white;
		display: flex;
		justify-content: center;
		align-self: flex-start;
		margin: 50px 10px;
		div {
			align-self: start;
		}
	}
	button {
		overflow: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		border: none;
		background-image: url(../assets/button.jpg);
		border-radius: 50%;
		width: 70px;
		height: 70px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		svg {
			width: 80%;
		}
	}
}
