.navBar {
	// border: 1px solid red;
	margin: 70px auto;
	width: 35%;
	display: flex;
	justify-content: space-between;
	li {
		background-image: url(../assets/detailedleafoutline.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			padding: 30px;
			text-align: center;
			display: flex;
			align-items: center;
			span {
				display: block;
			}
			a {
			color: inherit;
			padding: 15px;
	
			&:hover {
				// background-color: gainsboro;
			}
	
			&:active {
				// background-color: #999;
			}
		}
	}
}

.poems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	li {
		width: 40%;
		padding: 50px 30px 30px 30px;
		border: 1px solid $darkgreen;
		line-height: 30px;
		position: relative;
		background-color: $white;
		display: flex;
		justify-content: center;
		margin: 50px 0;
		div {
			align-self: start;
		}
	}
	button {
		overflow: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		border: none;
		background-image: url(../assets/button.jpg);
		border-radius: 50%;
		width: 70px;
		height: 70px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		svg {
			width:80%;
		}
	}
}
