.wordCollection {
	margin: 20px auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	li {
		&:hover {
			background-color: gainsboro;
		}
		&:active {
			background-color: #999;
		}
	}
}

.poemDisplayContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.poemColorFont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.poemContent {
	margin-top: 70px;
}

.poemForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.poemDisplay {
	margin: 0 auto;
	height: 300px;
	background-color: #b2b2b2;
	overflow-y: auto;
	min-width: 45vw;
	margin: 0px 40px 0px;
}


.poemSubmit {
	margin-top: 10px;
	align-self: center;
}

.poemButtons {
	display: flex;
	flex-direction: column;
}

.poemClearAll {
	margin-bottom: 3px;
}
