.wordCollection {
	margin: 20px auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	li {
		&:hover {
			background-color: gainsboro;
		}
		&:active {
			background-color: #999;
		}
	}
}

.poemDisplayContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.poemColorFont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	select {
		margin: 1.5px;
		width: 195px;
	}
}

.poemForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.poemDisplay {
	margin: 0 20px;
	width: 50vw;
	max-width: 755px;
	min-height: 400px;
	background-color: #b2b2b2;
	border-radius: 20px;
	padding: 10px;
}

.poemSubmit {
	margin-top: 10px;
	align-self: center;
	width: 200px;
	font-size: 1.5rem;
}

.poemButtons {
	display: flex;
	flex-direction: column;
	button {
		width: 195px;
	}
}

.poemClearAll {
	margin-bottom: 3px;
}
