.poemBox {
	border: none;
	padding: 20px;
	margin: 10px;
	background-color: #999;
	width: 900px;
	height: 400px;
	overflow-wrap: anywhere;
	resize: none;
	line-height: 40px;
	// word-spacing: 40px;
}
