.poemBox {
	display: none;
	border: none;
	padding: 20px;
	margin: 10px;
	background-color: rgb(255, 254, 230);
	width: 900px;
	height: 400px;
	overflow-wrap: anywhere;
	resize: none;
	line-height: 40px;
	// word-spacing: 40px;
	pointer-events: none;
	text-decoration: solid;
}

.poemDisplay {
	margin: 0 auto;
	width: 80%;
	height: 300px;
	background-color: #999;
}
