@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

body {
	font-size: 125%;
	font-family: "Kanit", sans-serif;
	// color: green;
}

.color {
	color: blueviolet;
}

h1 {
	font-size: 7rem;
	font-weight: 400;
}