@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

body {
	font-size: 125%;
	font-family: "Kanit", sans-serif;
	overflow-x: hidden;
  scroll-behavior: smooth;
}

.color {
	color: $black;
}

h1 {
	font-size: 7rem;
	font-weight: 400;
}



.magnetic {
	font-size: 18px;
}